<%- include('part/header')  %> 

<form action="/login" method="post">
<pre>
email: <input type="text" name="email" id="email" >
password: <input type="text" name="password" id="password" >
           <input type="submit" id="btnlogin" >
</pre>
</form>

<script>
//
//let btn=document.getElementById('btnlogin');
//btn.addEventListener('click',(e)=>{
//e.preventDefault();
//fetch('/').then((d)=>{
//    console.log(d)
//})
//
//})


</script>

<%- include('part/footer')  %> 